.layout {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .layout {
    padding: 0 1.5rem;
  }
}

@media (min-width: 768px) {
  .layout {
    padding: 0 2rem;
  }
}

@media (min-width: 1440px) {
  .layout {
    padding: 0;
  }
}
